<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{admin/fragments/head}"></head>
<body>
<div th:insert="~{admin/fragments/header}"></div>
<h1>Edit School Directory</h1>
<form th:action="@{/admin/school-directories/edit/{id}(id=${directory.id})}" th:object="${directory}" method="post">
    <div>
        <label for="schoolName">School Name:</label>
        <input type="text" id="schoolName" th:field="*{schoolName}" required />
    </div>
    <div>
        <label for="schoolAddress">Address:</label>
        <input type="text" id="schoolAddress" th:field="*{schoolAddress}" required />
    </div>
    <div>
        <label for="schoolTelephoneNumber">Telephone:</label>
        <input type="text" id="schoolTelephoneNumber" th:field="*{schoolTelephoneNumber}" required />
    </div>
    <div>
        <label for="assistantPrinciple">Assistant Principle:</label>
        <input type="text" id="assistantPrinciple" th:field="*{assistantPrincipal}" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
<div th:insert="~{admin/fragments/footer}"></div>
</body>
</html>